<%- include("partials/header-datatable") %>

  <style>
    #frm-add-category label.error {
      color: red;
    }
  </style>

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Cadastrar Expectativa de Orçamento</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin/">Início</a></li>
            <li class="breadcrumb-item active">Cadastrar Expectativa de Orçamento</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">Cadastrar Expectativa de Orçamento</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form id="frm-add-category" name="frm-add-category" method="post" action="/admin/add-expected-budget">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="start">Data:</label>
                      <div class="input-group">
                        <input type="date" id="date" name="expected_date" value="">
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Valor Previsto:</label>
                      <input type="text" class="form-control" placeholder="Digite aqui o valor previsto para este dia"
                        name="expected_budget">

                      <script>
                        const input = document.querySelector('input[name="expected_budget"]');
                        input.addEventListener('input', function () {
                          input.value = input.value.replace(/[^\d\.]/g, '').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                        });
                        input.addEventListener('blur', function () {
                          const value = parseFloat(input.value.replace(/[^\d\.]/g, ''));
                          if (!isNaN(value)) {
                            input.value = value.toLocaleString('en-US', { style: 'currency', currency: 'EUR' });
                          } else {
                            input.value = '';
                          }
                        });

                        document.querySelector('form').addEventListener('submit', function (event) {
                          const value = parseFloat(input.value.replace(/[^\d\.]/g, ''));
                          input.value = value;
                        });
                      </script>
                    </div>
                  </div>
                </div>
                <button class="btn btn-dark" type="submit">Enviar</button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">Cadastrar Orçamento Previsto</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="tbl-list-category" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Valor Previsto</th>
                    <th>Açoes</th>
                  </tr>
                </thead>
                <tbody>
                  <% expecteds.forEach(function(data){ %>
                    <tr>
                      <td>
                        <%= moment(data.date_expected).locale('pt-pt').format("DD/MM/YYYY, dddd") %>
                      </td>
                      <td>
                        <%= new Intl.NumberFormat('pt-PT', { style: 'currency' , currency: 'EUR'
                          }).format(data.expected_budget) %>
                      </td>
                      <td>
                        <a href="/admin/edit-expected-budget/<%= data.id %>" class="btn btn-primary"><i
                            class="fa fa-edit"></i> Editar</a>

                        <form method="post" action="/admin/delete-expected-budget"
                          id="frm-delete-category-<%= data.id %>" style="display: inline;">

                          <input type="hidden" value="<%= data.id %>" name="expected_id">

                        </form>

                        <a href="javascript:void(0)"
                          onclick="if(confirm('Tem certeza que vai deletar este registro?')){ $('#frm-delete-category-<%= data.id %>').submit() }"
                          class="btn btn-danger"><i class="fa fa-trash"></i> Deletar</a>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Data</th>
                    <th>Valor Previsto</th>
                    <th>Açoes</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->


  <%- include("partials/footer-datatable") %>

    <script>
      var date = new Date();

      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();

      if (month < 10) month = "0" + month;
      if (day < 10) day = "0" + day;

      var today = year + "-" + month + "-" + day;


      document.getElementById('date').value = today;
    </script>