<%- include("partials/header") %>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>
                <%= events %>
              </h3>

              <p>Ocorrências</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/admin/event-list" class="small-box-footer">Mais Informações <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>
                <%= clients %>
              </h3>

              <p>Clientes</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/admin/client-list" class="small-box-footer">Mais Informações <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>
                <%= users %>
              </h3>

              <p>Usuários</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/admin/user-list" class="small-box-footer">Mais Informações <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>
                <%= products %>
              </h3>

              <p>Produtos</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/admin/list-product" class="small-box-footer">Mais Informações <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>
                <%= todayevents %>
              </h3>

              <p>Ocorrências do Dia</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/admin/list-event" class="small-box-footer">Mais Informações <i
                class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Ocorrências Diárias</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <label for="start">Data:</label>
                <input type="date" id="date_event" name="date_event" onchange="eventDateFilter(this)"
                  value="<%= testando %>">
                <canvas id="myChart"
                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Ocorrências por Departamento</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="chartsection"
                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Ocorrências Diárias</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <label for="start">Início:</label>
                <input type="date" id="start" name="date_start" onchange="startDateFilter(this)"
                  value="<%= testando %>">
                <label for="start">Fim:</label>
                <input type="date" id="end" name="date_end" onchange="endDateFilter(this)" value="2022-11-26">
                <canvas id="chart"
                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Ocorrências Diárias</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="pie2"
                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script name="gráfico 1">

        const deyvisonevents = []
        const wallasevents = []
        const estevaoevents = []
        const ricardoevents = []
        const rafaelevents = []
        const evandroevents = []
        const brightevents = []
        const nelsonevents = []
        const danielevents = []
        const fabioevents = []
        const datesEventsPickers = []


        '<% allEventsPickers.forEach(function(date, deyvison, wallas){ %>'

        datesEventsPickers.push('<%= date.date %>');
        deyvisonevents.push('<%= date.ocorrenciasdeyvison %>');
        wallasevents.push('<%= date.ocorrenciaswallas %>');
        estevaoevents.push('<%= date.ocorrenciasestevao %>');
        ricardoevents.push('<%= date.ocorrenciasricardo %>');
        rafaelevents.push('<%= date.ocorrenciasrafael %>');
        evandroevents.push('<%= date.ocorrenciasevandro %>');
        brightevents.push('<%= date.ocorrenciasbrigth %>');
        nelsonevents.push('<%= date.ocorrenciasnelson %>');
        danielevents.push('<%= date.ocorrenciasdaniel %>');
        fabioevents.push('<%= date.ocorrenciasfabio %>');
        '<% }); %>'

        const configEvents = {
          type: 'bar',
          data: {
            labels: datesEventsPickers,
            datasets: [{
              label: 'Deyvison',
              data: deyvisonevents,
              borderWidth: 1
            },
            {
              label: 'Wallas',
              data: wallasevents,
              borderWidth: 1
            },
            {
              label: 'Estevao',
              data: estevaoevents,
              borderWidth: 1
            },
            {
              label: 'Ricardo',
              data: ricardoevents,
              borderWidth: 1
            },
            {
              label: 'Rafael',
              data: rafaelevents,
              borderWidth: 1
            },
            {
              label: 'Evandro',
              data: evandroevents,
              borderWidth: 1
            }, 
            {
              label: 'Bright',
              data: brightevents,
              borderWidth: 1
            },
            {
              label: 'Nelson',
              data: nelsonevents,
              borderWidth: 1
            },
            {
              label: 'Daniel',
              data: danielevents,
              borderWidth: 1
            },
            {
              label: 'Fábio',
              data: fabioevents,
              borderWidth: 1
            },
          ]
          },
          options: {
            scales: {
              x: {
                min: new Date(),
                max: new Date(),
                type: 'time',
                time: {
                  unit: 'day',
                  displayFormats: {
                    day: 'dd/MM/yyyy'
                  }
                }
              },
              y: {
                beginAtZero: true
              }
            },
            

          },
          plugins: [ChartDataLabels]
        };


        function eventDateFilter(date) {
          const eventDate = date.value
          console.log(eventDate)
          myChart2.options.scales.x.min = eventDate
          myChart2.options.scales.x.max = eventDate
          myChart2.update()
        }

        var dateEvent = new Date();

        // render init block  
        const myChart2 = new Chart(
          document.getElementById('myChart'),
          configEvents
        );

        var date2 = new Date();

        var day2 = date2.getDate();
        var seven2 = (date2.getDate() - 7);
        var month2 = date2.getMonth() + 1;
        var year2 = date2.getFullYear();

        if (month2 < 10) month2 = "0" + month2;
        if (day2 < 10) day2 = "0" + day2;

        var today2 = year2 + "-" + month2 + "-" + day2;
        var sevendays2 = year2 + "-" + month2 + "-" + day2

        document.getElementById('date_event').value = today2;

      </script>

      <script name="gráfico 2">


        var dt3 = new Date();
        dt3.setDate(dt3.getDate() - 7);

        const pickingEvents = []
        const atendimentoEvents = []
        const distribuicaoEvents = []
        const comprasEvents = []
        const dates = []
        const testandopush = []

        '<% allEvents.forEach(function(date, picking, distribuicao){ %>'

        dates.push('<%= date.date %>');
        pickingEvents.push('<%= date.ocorrenciaspicking %>');
        distribuicaoEvents.push('<%= date.ocorrenciasdistribuicao %>');
        atendimentoEvents.push('<%= date.ocorrenciasatendimento %>');
        '<% }); %>'

        console.log(pickingEvents)
        console.log(distribuicaoEvents)

        const config5 = {
          type: 'bar',
          data: {
            labels: dates,
            datasets: [{
              label: 'Picking',
              data: pickingEvents,
              borderWidth: 1
            },
            {
              label: 'Distribuição',
              data: distribuicaoEvents,
              borderWidth: 1
            },
            {
              label: 'Atendimento ao Cliente',
              data: atendimentoEvents,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              x: {
                min: dt3.setHours(0, 0, 0, 0),
                max: new Date(),
                type: 'time',
                time: {
                  unit: 'day',
                  displayFormats: {
                    day: 'dd-MM-yyyy'
                  }
                }
              },
              y: {
                beginAtZero: true
              }
            }
          }
        }

        // render init block  
        const myChart5 = new Chart(
          document.getElementById('chartsection'),
          config5
        );
      </script>

      <script name="gráfico 3">

        const data = [];

        const quantidade = [];


        //Dados recebidos do res.render na rota

        '<% eventsPerDay.forEach(function(date, count){ %>'

        data.push('<%= date.date %>');
        quantidade.push('<%= date.count %>');
        '<% }); %>'

        var dt = new Date();
        dt.setDate(dt.getDate() - 7);

        const config = {
          type: 'bar',
          data: {
            labels: data,
            datasets: [{
              label: 'Ocorrências',
              data: quantidade,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              x: {
                min: dt.setHours(0, 0, 0, 0),
                max: new Date(),
                type: 'time',
                time: {
                  unit: 'day',
                  displayFormats: {
                    day: 'dd/MM/yyyy'
                  }
                }
              },
              y: {
                beginAtZero: true
              }
            }
          }
        }


        const myChart = new Chart(
          document.getElementById('chart'),
          config
        );


        function startDateFilter(date) {
          const startDate = date.value
          console.log(startDate)
          myChart.options.scales.x.min = startDate
          myChart.update()
        }

        function endDateFilter(date) {
          const endDate = date.value
          console.log(endDate)
          myChart.options.scales.x.max = endDate
          myChart.update()
        }

        var date = new Date();

        var day = date.getDate();
        var seven = (date.getDate() - 7);
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        var sevendays = year + "-" + month + "-" + day

        document.getElementById('end').value = today;


        //Doughnut chart definido no canvas da página

        //var ctx = document.getElementById('pie-chart').getContext('2d');
      </script>





    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->


  <%- include("partials/footer") %>