
    <%-  include("partials/header")  %>

    

    <!-- Código para incluir as validações na cor vermelha-->
      <style>
          #frm-add-book label.error{
            color: red;
          }

          .image-thumbnail{
            height: 80px;
            width: 80px;
        }
      </style>

      
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Editar Usuário</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Editar Usuário</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-md-12">
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Edit Usuário</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form method="post" action="/admin/user-edit/<%= user.id %>" enctype="multipart/form-data" id="frm-add-book">
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Nome</label>
                        <input required value="<%= user.name %>" type="text" class="form-control" placeholder="Enter name" name="name" >
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Email</label>
                          <input disabled value="<%= user.email %>" type="text" class="form-control" placeholder="Enter name" name="email" >
                        </div>
                      </div>
                   </div> 
  
                   <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Telemóvel</label>
                          <input required type="text" class="form-control"  value="<%= user.mobile %>" data-inputmask="'mask': ['(+351) 999-999-999', '+099 99 99 9999[9]-9999']" data-mask name="mobile">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Departamento:</label>
                          <select class="select2" data-placeholder="Escolha o departamento" style="width: 100%;" name="section">
                                  <% sections.forEach(function(section){ %>
                                    <option value="<%= section.id %>"><%= section.name %></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                      </div>
  
                     <div class="row">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Foto:</label>
                            <input type="file" name="image" class="form-control">
                            <br>
                            <img class="image-thumbnail" src="<%= user.image %>" alt="">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Data de Admissão</label>
                            <input disabled type="text" class="form-control" placeholder="Enter Author name" value="<%= user.date_hired %>" name="author" >
                          </div>
                        </div>
                       </div> 


  
                    <div class="row">
  
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status">
                              <option <% if ( user.status == '1' ) { %> selected <% } %> value="1">Ativo</option>
                              <option <% if ( user.status == '0' ) { %> selected <% } %> value="0">Inativo</option>
                            </select>
                          </div>
                        </div>
  
                    </div>
  
                  
                    <button class="btn btn-dark" type="submit">Atualizar</button>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  
   
      <%-  include("partials/footer")  %>